In [2]:
import pandas as pd

In [4]:
df1 = pd.read_excel('./resData/남북한_발전_전력량.xlsx',
                    engine='openpyxl')
print(df1)
print("="*30)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
==============================

In [5]:
df2 = pd.read_excel('./resData/남북한_발전_전력량.xlsx',
                    engine='openpyxl', header=1) # 0행이 아니라 1행부터 데이터 시작
print(df2)
print("="*30)

    남한   합계 1077 1186 1310 1444  1650  1847  2055  2244  ...  4031  4224  \
0  NaN   수력   64   51   49   60    41    55    52    54  ...    50    56
1  NaN   화력  484  573  696  803  1022  1122  1264  1420  ...  2551  2658
2  NaN  원자력  529  563  565  581   587   670   739   771  ...  1429  1510
3  NaN  신재생    -    -    -    -     -     -     -     -  ...     -     -
4   북한   합계  277  263  247  221   231   230   213   193  ...   236   255
5  NaN   수력  156  150  142  133   138   142   125   107  ...   133   141
6  NaN   화력  121  113  105   88    93    88    88    86  ...   103   114
7  NaN  원자력    -    -    -    -     -     -     -     -  ...     -     -

   4336  4747  4969  5096  5171  5220  5281  5404
0    56    65    78    77    84    78    58    66
1  2802  3196  3343  3430  3581  3427  3402  3523
2  1478  1486  1547  1503  1388  1564  1648  1620
3     -     -     -    86   118   151   173   195
4   235   237   211   215   221   216   190   239
5   125   134   132   135   139   130   100   128
6   110   103    79    80    82    86    90   111
7     -     -     -     -     -     -     -     -

[8 rows x 29 columns]
==============================

In [8]:
df4 = pd.read_excel('./resData/남북한_발전_전력량.xlsx',
                    engine='openpyxl')
print(df4)
print("="*30)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
==============================

In [10]:
new_df = df4.drop(df4.index[5:9])
print(new_df)
print("="*30)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195

[5 rows x 29 columns]
==============================

In [11]:
new_df = new_df.drop(['전력량 (억㎾h)'], axis=1)
print(new_df)
print("="*30)

  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  1998  ...  2007  \
0     합계  1077  1186  1310  1444  1650  1847  2055  2244  2153  ...  4031
1     수력    64    51    49    60    41    55    52    54    61  ...    50
2     화력   484   573   696   803  1022  1122  1264  1420  1195  ...  2551
3    원자력   529   563   565   581   587   670   739   771   897  ...  1429
4    신재생     -     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195

[5 rows x 28 columns]
==============================

In [12]:
new_df = new_df.rename({'발전 전력별':'전력구분'}, axis=1)
print(new_df)
print("="*30)

  전력구분  1990  1991  1992  1993  1994  1995  1996  1997  1998  ...  2007  2008  \
0   합계  1077  1186  1310  1444  1650  1847  2055  2244  2153  ...  4031  4224
1   수력    64    51    49    60    41    55    52    54    61  ...    50    56
2   화력   484   573   696   803  1022  1122  1264  1420  1195  ...  2551  2658
3  원자력   529   563   565   581   587   670   739   771   897  ...  1429  1510
4  신재생     -     -     -     -     -     -     -     -     -  ...     -     -

   2009  2010  2011  2012  2013  2014  2015  2016
0  4336  4747  4969  5096  5171  5220  5281  5404
1    56    65    78    77    84    78    58    66
2  2802  3196  3343  3430  3581  3427  3402  3523
3  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -    86   118   151   173   195

[5 rows x 28 columns]
==============================

In [13]:
new_df.set_index('전력구분', inplace=True)
print(new_df)

      1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  ...  2007  \
전력구분                                                              ...
합계    1077  1186  1310  1444  1650  1847  2055  2244  2153  2393  ...  4031
수력      64    51    49    60    41    55    52    54    61    61  ...    50
화력     484   573   696   803  1022  1122  1264  1420  1195  1302  ...  2551
원자력    529   563   565   581   587   670   739   771   897  1031  ...  1429
신재생      -     -     -     -     -     -     -     -     -     -  ...     -

      2008  2009  2010  2011  2012  2013  2014  2015  2016
전력구분
합계    4224  4336  4747  4969  5096  5171  5220  5281  5404
수력      56    56    65    78    77    84    78    58    66
화력    2658  2802  3196  3343  3430  3581  3427  3402  3523
원자력   1510  1478  1486  1547  1503  1388  1564  1648  1620
신재생      -     -     -     -    86   118   151   173   195

[5 rows x 27 columns]

In [16]:
new_df.to_excel("./saveFiles/남한전력량2.xlsx")